<div class="card">
    <img src="/images/products/<%= mainImage ?  mainImage : 'default-img.png' %>" class="card-img-top" alt="">
<div class="card-body">
    <h5 class="card-title"><%= name %>
    </h5>
    <p class="card-text"><% description %></p>
</div>
<div class="card-body ">
    <a href="/products/detail-main-image/<%= id %>" class="card-link">Ver más</a>
</div>
</div>