<div class="card">
    <img src="/images/default-img.png" class="card-img-top" alt="">
<div class="card-body">
    <h5 class="card-title">Card title
    </h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit corrupti laudantium suscipit, modi possimus aperiam nam maiores impedit dolores voluptates! Quae dignissimos inventore excepturi id voluptates magnam laborum, officiis optio!</p>
</div>
<div class="card-body ">
    <a href="/products/detail-one-image" class="card-link">Ver más</a>
</div>
</div>